baseURL = "https://tarclog.com/"
theme = "PaperMod"
defaultContentLanguage = "ja"
defaultContentLanguageInSubdir = true # Include /ja/ in URLs even for the default language to avoid root-level pages

[pagination]
  paginate = 5

[languages]
  [languages.ja]
    languageName = "日本語"
    weight = 1
    contentDir = "content/ja"
    title = "TarcLog｜日々の学びと発信"
    languageCode = "ja"
    params.homeInfoParams = { Title = "ようこそ", Content = "ここでは日々の学びや試行錯誤を共有しています。" }

    [[languages.ja.menu.main]]
      identifier = "about"
      name = "このブログについて"
      url = "/ja/about/"
      weight = 10

    [[languages.ja.menu.main]]
      identifier = "categories"
      name = "カテゴリ"
      url = "/ja/categories/"
      weight = 20


  [languages.en]
    languageName = "English"
    weight = 2
    contentDir = "content/en"
    title = "TarcLog | Learning and Sharing Every Day"
    languageCode = "en"
    params.homeInfoParams = { Title = "Welcome!", Content = "This is where I share my daily learning and trial-and-error experiences." }

    [[languages.en.menu.main]]
      identifier = "about"
      name = "About"
      url = "/en/about/"
      weight = 10

    [[languages.en.menu.main]]
      identifier = "categories"
      name = "Categories"
      url = "/en/categories/"
      weight = 20


[params]
  ShowReadingTime = true
  ShowPostNavLinks = true

[markup]
  [markup.highlight]
    noClasses = false  # ハイライト用の class を有効に
    guessSyntax = true
    style = 'monokai'  # お好きなスタイルに変更可能

[markup.goldmark.renderer]
  unsafe = true


[taxonomies]
  category = "categories"


[params.posthog]
  public_key = "$POSTHOG_PUBLIC_KEY"
  api_host   = "$POSTHOG_API_HOST"